@model SimpleCRUD.Models.Employee

<h1 class="fs-3 fw-bold text-center my-5">Employee Details</h1>

<div class="border rounded p-4 col-md-6 mx-auto">
    <table class="table">
        <h2 class="fs-3 fw-bold">@Model.FirstName @Model.LastName</h2>
        <p class="text-secondary mb-4">@Model.Category?.Name</p>
        <p class="text-detail"><span class="fw-bold">Email: </span>@Model.Email</p>
        <p class="text-detail"><span class="fw-bold">Phone Number: </span>@Model.PhoneNumber</p>
        <p class="text-detail"><span class="fw-bold">Description: </span>@Model.Category?.Description</p>
    </table>
    <div class="d-flex justify-content-between mt-3">
        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
        <a asp-action="Update" asp-route-id="@Model?.Id" class="btn btn-dark">Edit Employee</a>
    </div>
</div>