@model IEnumerable<SimpleCRUD.Models.Employee>

<h1 class="text-2xl fw-bold mb-4">Employee Management</h1>


<div class="row rounded shadow p-3">
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Email</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.Category?.Name</td>
                    <td>
                        <div class="d-flex gap-2">
                            <a asp-action="Update" asp-route-id="@employee.Id" class="btn btn-outline-primary btn-sm">Update</a>
                            <a asp-action="Detail" asp-route-id="@employee.Id" class="btn btn-outline-info btn-sm">View</a>
                            <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-outline-danger btn-sm">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>